<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnonChat</title>
    <link rel="stylesheet" href="/static/main.css">
    <script src="/static/main.js"></script>
</head>
<body>
    <main>
        <div class="title">
            <h1>AnonChat</h1>
        </div>
        <div class="enter-room" id="enter-room">
            <a>To start or join a public room, enter the room ID below</a>
            <form action="javascript: void(0);" onsubmit="joinroom();">
                <input placeholder="room ID" id="ID">
            </form>
        </div>
        <div class="private-room" id="private-room">
            <a href="../private">To start or join a private room, click here.</a>
        </div>
        <div class="public-rooms">
            <table id="public-rooms-table">
            </table>
              
        </div>
        <div class="tut">
            <p>AnonChat is a good way to communicate with people without revealing who you are.</p>
        </div>
    </main>
</body>
</html>