body {
    margin: 0%;
    background-color: rgb(30,30,30);
    color: white;
    font-family: 'Anonymous Pro', monospace;
}

main {
    margin-left: 20%;
    margin-right: 20%;
}

footer {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
    position: fixed ;
    bottom: 0;
    left: 0;
    background-color:  rgb(60,60,60);
    border-radius: 5px;
    display: flex;
    width: 60%;
}

#message {
    padding: 10px 0px;
    flex: 1;
    width: 60%;
}
#message:focus {
    outline: none;
}

footer a {
    display: block;
    padding: 10px;
    cursor: pointer;
}